extends layout/layout
block content
    .wrapper.wrapper_fund
        .container
            .fund GEMEENTELIJKE REGELING
            h1.wrapper_title Kindpakket
            .wrapper_desc Het Kindpakket is een regeling ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            
            img(src="assets/img/macbookpro.jpg" srcset="assets/img/macbookpro@2x.jpg 2x,assets/img/macbookpro@3x.jpg 3x" class="macbookpro")

    .wrapper.wrapper_question
        .container
            h2.wrapper_title Waarom Kindpakket?
            .wrapper_desc 
                p In Nederland leven 300.000 kinderen in armoede. Het Kindpakket is een regeling ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                p Het Kindpakket is een regeling ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

    .wrapper.wrapper_explain
        .container
            span
                h2.wrapper_title Kleinsmagelden
                .wrapper_desc Forus is makkelijk aan de voorkant en goed doordacht aan de achterkant. De back-end is voor iedereen gelijk, de front-end maken we op maat. Compleet met eigen huisstijl. Het team helpt je met conceptualisatie, implementatie, programmering en beheer. Ook verlenen we support aan sponsor en aanbieder. Het team helpt je met conceptualisatie, implementatie, programmering en beheer. Ook verlenen we support aan sponsor en aanbieder.
            img(align="right" src="assets/img/kindpakket.png" srcset="assets/img/kindpakket@2x.png 2x,assets/img/kindpakket@3x.png 3x")

    .wrapper.wrapper_explain
        .container
            img(align="right" src="assets/img/regeerakkoord.png" srcset="assets/img/regeerakkoord@2x.png 2x,assets/img/regeerakkoord@3x.png 3x")
            span
                h2.wrapper_title Regeerakkoord
                .wrapper_desc Het kindpakket is een regeling ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Het kindpakket is een regeling ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 


    .wrapper.wrapper_downloads
        .container
            h2.wrapper_title Hulpmaterialen
            .download_links
                div.dl_box
                    .dl_icon
                        span.holder
                            img(src="https://www.shareicon.net/download/2017/04/19/884097_download_512x512.png")
                    a(href="https://zuidhorn.forus.io") Voorbeeldbrieven
                div.dl_box
                    .dl_icon
                        span.holder
                            img(src="https://www.shareicon.net/download/2017/04/19/884097_download_512x512.png")
                    a(href="https://zuidhorn.forus.io") Collegevoorstel
                div.dl_box
                    .dl_icon
                        span.holder
                            img(src="https://www.shareicon.net/download/2017/04/19/884097_download_512x512.png")
                    a(href="https://zuidhorn.forus.io") Webshopteksten
                div.dl_box
                    .dl_icon
                        span.holder
                            img(src="https://www.shareicon.net/download/2017/04/19/884097_download_512x512.png")
                    a(href="https://zuidhorn.forus.io") Budgetadvies


    .wrapper.wrapper_contact_form.hidden-sm.hidden-md.hidden-lg
        .container
            form#formContactHome(action="https://xlak8w5706.execute-api.eu-west-1.amazonaws.com/Prod" method="POST")
                .row
                    .col-xs-12.col-md-6
                        .form-group.required
                            label.control-label NAAM
                            .input-group
                                input#nameInput.form-control(placeholder="Naam" name="name"  value="" onkeyup="this.setAttribute('value', this.value);" )
                                a(href="#").clear_field
                                    include ../resources/assets/img/svg/clear-field.svg
                                span.help-block
                    .col-xs-12.col-md-6
                        .form-group.required
                            label.control-label EMAIL
                            .input-group
                                input#emailInput.form-control(placeholder="Email" name="email" value="" onkeyup="this.setAttribute('value', this.value);" )
                                a(href="#").clear_field
                                    include ../resources/assets/img/svg/clear-field.svg
                                span.help-block
                    .col-xs-12.col-md-6
                        .form-group
                            label.control-label ORGANISATIE
                            .input-group
                                input#companyInput.form-control(placeholder="Organisatie" name="organization" value="" onkeyup="this.setAttribute('value', this.value);" )
                                a(href="#").clear_field
                                    include ../resources/assets/img/svg/clear-field.svg
                                span.help-block
                    .col-xs-12.col-md-6
                        .form-group
                            label.control-label TELEFOONNUMMER
                            .input-group
                                input#telInput.form-control(placeholder="Telefoonnumber" name="phone" value="" onkeyup="this.setAttribute('value', this.value);" )
                                a(href="#").clear_field
                                    include ../resources/assets/img/svg/clear-field.svg
                                span.help-block
                    .col-xs-12
                        .form-group.required
                            label.control-label BERICHT
                            .input-group
                                textarea#messageInput.form-control(placeholder="Bericht" name="message")

                                a(href="#").clear_field
                                    include ../resources/assets/img/svg/clear-field.svg
                                span.help-block
                    .col-xs-12.info
                        span(style="color: red") *
                        | velden zijn verplicht
                    .col-xs-12
                        .form-group.center-block
                            p.thanks Bedankt! Er wordt zo snel mogelijk contact met u opgenomen.
                            button#formSubmitHome.main_button.g-recaptcha( data-sitekey="6LfA-JcUAAAAAC9SpgAr2ZmL4rFwjb83_U2MDcfQ" data-callback="onSubmitCFHome" data-badge="inline" type="button") Versturen






